
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactContent{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactContent p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #475467;
}

form{
    background-color: #fff;
    width: 40em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "inter", sans-serif;
}

input{
    height: 2.75em;
    border-radius: 0.25em;
    text-indent: 4px;
    padding: 10px 14px;
    width: 100%;
    outline:none;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
label{
    line-height: 30px
}

input:focus{
    border: 2px solid #1570EF ;
}
.names{
    display: flex;
    justify-content: space-between;
}
.names input{
    width: 300px;
}

textarea{
    width: 100%;
    height: 132px;
    border: none;
    background-color: #fff;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    text-indent: 8px;
    outline: none;
    padding: 10px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
}
.checkMessage{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    padding: 0 0 0 12px;
}
form button{
    background-color: #1570EF;
    Height:48px;
    border-radius:8px;
    Padding: 12px, 20px, 12px, 20px;
    border:none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}